# pre-commit configuration file
.pre-commit-config.yaml

# demo-magic.sh script
demo-magic.sh

# Vuepress Pages
docs/.vuepress/dist

# Kubernetes kubeconfig file
kubeconfig*.conf*

# Node modules
node_modules/

# nohup output
nohup.out

# README.sh script
README.sh

# tmp directory
tmp/

# Terraform files
.terraform*
*.tfstate*
crash.log
