# demo-magic.sh script
demo-magic.sh

# Kubernetes kubeconfig file
kubeconfig.conf

# README.sh script
README.sh

# Vuepress Pages
docs/.vuepress/dist

# tmp directory
tmp/

# Node modules
node_modules/

# Terraform files
.terraform
*.tfstate*
crash.log
