name: terraform

on:
  pull_request:
    types: [opened, synchronize]
    paths:
      - .github/workflows/terraform.yml
      - terraform/**
  push:
    branches:
      - master
    paths:
      - .github/workflows/terraform.yml
      - terraform/**

jobs:
  terraform-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

      - name: Terraform Format
        uses: hashicorp/terraform-github-actions@b2ca17c0c25198c67c668c37edcbc45ca086a91e # v0.8.0
        with:
          tf_actions_version: 0.12.31
          tf_actions_subcommand: fmt
          tf_actions_working_dir: terraform/azure
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Terraform Init
        uses: hashicorp/terraform-github-actions@b2ca17c0c25198c67c668c37edcbc45ca086a91e # v0.8.0
        with:
          tf_actions_version: 0.12.31
          tf_actions_subcommand: init
          tf_actions_working_dir: terraform/azure
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TF_CLI_ARGS_init: -backend=false

      - name: Terraform Validate
        uses: hashicorp/terraform-github-actions@b2ca17c0c25198c67c668c37edcbc45ca086a91e # v0.8.0
        with:
          tf_actions_version: 0.12.31
          tf_actions_subcommand: validate
          tf_actions_working_dir: terraform/azure
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
